.article-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.article-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 30px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-container .form-label {
    text-align: center;
    margin-bottom: 5px;
    color: #5e5e5e;
    text-align: left;
}

.article-container .form {
    display: flex;
    flex-wrap: wrap;
}

.article-container .form-elements-container {
    display: flex;
    flex-basis: 100%;
}

.article-container .form-element {
    flex-basis: 50%;
    padding: 5px;
}

.article-container .form-element label {
    font-weight: bold;
    color: rgb(100, 100, 100);
}

.article-container .form-element input,
.article-container .form-element select {
    display: block;
    width: 45%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    margin-right: 80px;
    margin-bottom: -15px;
    text-align: left; 
}

.article-container .form-element input::placeholder,
.article-container .form-element select::placeholder,
.article-container .form-element textarea::placeholder {
    color: rgb(100, 100, 100);
}


.article-container .form-element input:focus,
.article-container .form-element select:focus {
    outline: none;
    border-color: #007bff;
}

.article-container .form-element select {
    cursor: pointer;
}

.article-container .form-element:last-child {
    margin-right: 0;
    margin-left: 10px;
}

.article-container .form-element textarea {
    display: block;
    width: 95%;
    height: 180px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    margin-bottom: -15px;
}

.article-container .form-element textarea:focus {
    outline: none;
    border-color: #007bff;
    margin-left: 13px;
    margin-top: 13px;
}

.article-container .input-container {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    resize: vertical;
}

.article-container .textarea-container {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    resize: vertical;
    min-height: 150px;
}

#titre::placeholder {
    color: #333;
}

#content::placeholder {
    color: #333;
}

.article-container .select-container {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.article-container .upload-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.article-container .upload-label {
    font-weight: bold;
    margin-right: 15px;
    font-size: 16px;
    color: rgb(100, 100, 100);
}

.article-container .upload-input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
}

.article-container .article-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.article-container .btn {
    color: rgb(255, 255, 255);
    background-color: #326171;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 20px;
}

.article-container .delete-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

