.catalogue {
  margin-top:10px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin-right: 2%;
  margin-left: 2%;  */
  justify-items: center;
  
}

 
 .magazine .title{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    color:#326171;
    text-align: start;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
  }
  .categories{
    display: flex;
    color:#4a8ea4;
    font-weight: 700;
    font-size: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }
  .categories a{
   
    border-radius: 10px;
    border: 2px double #407181;
    
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 12px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    
     
  }
  .categories span{
    
    text-align: center;
    width: 100%;
  }

  .categories a:hover{
    transform: scale(1.1);
    background-color:  #d8e5e9;;
  }
  .firstPart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
  }

  .magazine{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin: 20px ;
    
  }
  
   