.hero {
  background-image: url("../../../../public/images/acceuil.jpg");
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  padding-right: 50px;
  color: #022725;
  position: relative;
  margin-top: -20px;
}

.hero #heading h3 {
  color: #110606;
}

.hero #heading {
  text-align: left;
  padding: 0;
  width: 90%;
  margin-top: 10%;

}

@media screen and (max-width: 1030px) {
  .margin {
    display: none;
  }

  .hero {
    padding-right: 50px;
    height: 100vh;
    width: 100%;
  }

  .hero #heading {
    text-align: left;
    margin-left: 7%;
    width: 120%;
    margin-top: 10%;
  
  }

  .hero .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-description {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 35%;
    width: 120%;

  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    margin-left: 10%;

  }

  .button-container button {
    margin: 0 5px;
  }
}

.hover-color2:hover {
  background-color: #677272;
  color: #fff;
}

.hover-color1:hover {
  background-color: #677272;
  color: #fff;
}
